﻿@{
    ViewBag.Title = "AddFeed";
}
<script src="~/Scripts/ManagerNewsFeed.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<!-- BEGIN content -->
<div id="content">    
    <div id="comments">
        <div id="respond">
            <h3>Add New Xpath News Feed</h3> 
            <form id="commentform">
                <p>
                   <label style="font-weight: bold;"> UrlFeed</label> <input class="form-control" type="text" name="UrlFeed" id="UrlFeed" value="" size="22" tabindex="1" style="width:350px;" />
                </p>
                <p>
                    <label style="font-weight: bold;"> UrlChildFeed</label> <input class="form-control" type="text" name="UrlChildFeed" id="UrlChildFeed" value="" size="22" tabindex="1" style="width: 350px;" />
                </p>
                <p>
                    <label style="font-weight: bold;"> UrlSubFeed</label> <input class="form-control" type="text" name="UrlSubFeed" id="UrlSubFeed" value="" size="22" tabindex="1" style="width: 350px;" />
                </p>
                <p>
                    <label style="font-weight: bold;"> XpathUrlPagingFeed</label> <input class="form-control" type="text" name="xpathUrlPagingFeed" id="xpathUrlPagingFeed" value="NULL" size="22" tabindex="2" style="width: 350px;" />
                </p>
                <p>
                    <label style="font-weight: bold;"> XpathUrlFeed</label> <input class="form-control" type="text" name="XpathUrlFeed" id="XpathUrlFeed" value="" size="22" tabindex="3" style=" width: 350px;" />
                </p>
                    <label style="font-weight: bold;"> XpathTilte</label> <input class="form-control" type="text" name="XpathTilte" id="XpathTilte" value="" size="22" tabindex="1" style=" width: 350px;" />
                <p>
                </p>
                    <label style="font-weight: bold;"> XpathPublishedDate</label> <input class="form-control" type="text" name="XpathPublishedDate" id="XpathPublishedDate" value="" size="22" tabindex="1" style="width: 350px;" />
                <p>
                </p>
                    <label style="font-weight: bold;"> XpathSummary</label> <input class="form-control" type="text" name="XpathSummary" id="XpathSummary" value="" size="22" tabindex="1" style=" width: 350px;" />
                <p>
                </p>
                    <label style="font-weight: bold;"> XpathImageUrl</label> <input class="form-control" type="text" name="XpathImageUrl" id="XpathImageUrl" value="" size="22" tabindex="1" style=" width: 350px;" />
                <p>
                </p>
                    <label style="font-weight: bold;"> XpathUrlSub</label> <input class="form-control" type="text" name="XpathUrlSub" id="XpathUrlSub" value="" size="22" tabindex="1" style=" width: 350px;" />
                <p>
                    <button class="btn btn-default" onclick="AddNewsFeed()" name="submit" type="submit" id="submit" style="margin-top: 25px; width: auto; height: auto; color: #333; border-color: #adadad;">AddNewsFeed</button>                    
                </p>
            </form>
        </div>
    </div>
    <!-- end comments -->
</div>
<!-- END content -->

