﻿@{
    ViewBag.Title = "Index";
}
<!-- BEGIN content -->
<div id="content">
    <!-- begin post -->
    <div class="single" id="single">
        <h4><a href='http://thenews.apphb.com/Admin/AddFeed'>Add News News Feed</a></h4>
        <ol data-bind ="foreach:  Feeds">
            <li><span data-bind="text:  UrlFeed"></span></li>
            <ul>
                <li><span data-bind="text:  UrlSubFeed"></span></li>
                <li><span data-bind="text:  xpathUrlPagingFeed"></span></li>
                <li><span data-bind="text:  XpathUrlFeed"></span></li>
                <li><span data-bind="text:  XpathTilte"></span></li>
                <li><span data-bind="text:  XpathPublishedDate"></span></li>
                <li><span data-bind="text:  XpathSummary"></span></li>
                <li><span data-bind="text:  XpathImageUrl"></span></li>
                <li><span data-bind="text:  XpathUrlSub"></span></li>                                  
                <a data-bind="attr: { href: '/Admin/GetNewsFeed?FeedID='+FeedID}">Get News Feed</a> -
                <a data-bind="attr: { href: '/Admin/UpdateFeed?FeedID='+FeedID}">Update News Feed</a>
            </ul>
        </ol>            
</div>
    <!-- end post -->
</div>
<!-- END content -->

<script src="~/Scripts/knockout-2.1.0.js"></script>
<script type="text/javascript">
    var EmpViewModel = function () {
        //Make the self as 'this' reference
        var self = this;
        //Declare observable which will be bind with UI 
        self.FeedID = ko.observable("");
        self.UrlChildFeed = ko.observable("");
        self.UrlFeed = ko.observable("");
        self.UrlSubFeed = ko.observable("");
        self.xpathUrlPagingFeed = ko.observable("");
        self.XpathUrlFeed = ko.observable("");
        self.XpathTilte = ko.observable("");
        self.XpathPublishedDate = ko.observable("");
        self.XpathSummary = ko.observable("");
        self.XpathImageUrl = ko.observable("");
        self.XpathUrlSub = ko.observable("");
        self.Flag = ko.observable("0");
        //The Object which stored data entered in the observables
        var EmpData = {
            FeedID: self.FeedID,
            UrlChildFeed: self.UrlChildFeed,
            UrlFeed: self.UrlFeed,
            UrlSubFeed: self.UrlSubFeed,
            xpathUrlPagingFeed: self.xpathUrlPagingFeed,
            XpathUrlFeed: self.XpathUrlFeed,
            XpathTilte: self.XpathTilte,
            XpathPublishedDate: self.XpathPublishedDate,
            XpathSummary: self.XpathSummary,
            XpathImageUrl: self.XpathImageUrl,
            XpathUrlSub: self.XpathUrlSub,
            Flag: self.Flag
        };
        //Declare an ObservableArray for Storing the JSON Response
        self.Feeds = ko.observableArray([]);
        GetFeeds(); //Call the Function which gets all records using ajax call

        function GetFeeds() {
            //Ajax Call Get All Employee Records
            $.ajax({
                type: "GET",
                url: "http://cktapp.apphb.com/api/Feeds",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    self.Feeds(data); //Put the response in ObservableArray
                },
                error: function (error) {
                    //alert(error.status + "<--and--> " + error.statusText);
                },
                //async:false
            });
            //Ends Here
        }
    };
    ko.applyBindings(new EmpViewModel());
</script>



