﻿@{
    ViewBag.Title = "UpdateFeed";
}

<script src="~/Scripts/ManagerNewsFeed.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<!-- BEGIN content -->
<div id="content">    
    <!-- begin comments -->
    <div id="comments">
        <div id="respond">
            <h3>Update Xpath News Feed</h3>
            <form id="commentform">
                <p>
                    <label style="font-weight: bold;"> FeedID</label> <input class="form-control" disabled="disabled" type="text" readonly="readonly" name="FeedID" id="FeedID" value="@Model.FeedID" size="22" tabindex="1" style="width: 350px; " />
                </p>
                <p>
                    <label style="font-weight: bold;"> UrlFeed</label> <input class="form-control" type="text" name="UrlFeed" id="UrlFeed" value="@Model.UrlFeed" size="22" tabindex="1" style="width:350px;" />
                </p>
                <p>
                    <label style="font-weight: bold;"> UrlChildFeed</label> <input class="form-control" type="text" name="UrlChildFeed" id="UrlChildFeed" value="@Model.UrlChildFeed" size="22" tabindex="1" style="width: 350px;" />
                </p>
                <p>
                    <label style="font-weight: bold;"> UrlSubFeed</label> <input class="form-control" type="text" name="UrlSubFeed" id="UrlSubFeed" value="@Model.UrlSubFeed" size="22" tabindex="1" style="width: 350px;" />
                </p>
                <p>
                    <label style="font-weight: bold;"> XpathUrlPagingFeed</label> <input class="form-control" type="text" name="xpathUrlPagingFeed" id="xpathUrlPagingFeed" value="@Model.xpathUrlPagingFeed" size="22" tabindex="2" style="width: 350px;" />
                </p>
                <p>
                    <label style="font-weight: bold;"> XpathUrlFeed</label> <input class="form-control" type="text" name="XpathUrlFeed" id="XpathUrlFeed" value="@Model.XpathUrlFeed" size="22" tabindex="3" style=" width: 350px;" />
                </p>
                <label style="font-weight: bold;"> XpathTilte</label> <input class="form-control" type="text" name="XpathTilte" id="XpathTilte" value="@Model.XpathTilte" size="22" tabindex="1" style=" width: 350px;" />
                <p>
                </p>
                <label style="font-weight: bold;"> XpathPublishedDate</label> <input class="form-control" type="text" name="XpathPublishedDate" id="XpathPublishedDate" value="@Model.XpathPublishedDate" size="22" tabindex="1" style="width: 350px;" />
                <p>
                </p>
                <label style="font-weight: bold;"> XpathSummary</label> <input class="form-control" type="text" name="XpathSummary" id="XpathSummary" value="@Model.XpathSummary" size="22" tabindex="1" style=" width: 350px;" />
                <p>
                </p>
                <label style="font-weight: bold;"> XpathImageUrl</label> <input class="form-control" type="text" name="XpathImageUrl" id="XpathImageUrl" value="@Model.XpathImageUrl" size="22" tabindex="1" style=" width: 350px;" />
                <p>
                </p>
                <label style="font-weight: bold;"> XpathUrlSub</label> <input class="form-control" type="text" name="XpathUrlSub" id="XpathUrlSub" value="@Model.XpathUrlSub" size="22" tabindex="1" style=" width: 350px;" />
                <p>
                    <button class="btn btn-default" onclick="UpdateNewsFeed()" name="submit" type="submit" id="submit" style="margin-top: 25px; width: auto; height: auto; color: #333; border-color: #adadad;">UpdateNewsFeed</button>
                </p>
            </form>
        </div>
    </div>
    <!-- end comments -->
</div>
<!-- END content -->

