﻿@{
    ViewBag.Title = "Tin tức";
}
<ul data-role="listview">
    <li><a href="/Customers/vd?FeedID=1">Ngoisao.net</a></li>
    <li><a href="/Customers/vd?FeedID=3">doisongphapluat.com</a></li>
    <li><a href="/Customers/vd?FeedID=4">nguoiduatin.vn</a></li>
    <li><a href="/Customers/vd?FeedID=5">vnexpress.net</a></li>
</ul>


<div data-role="collapsible" data-inset="false">
    <h3>Danh mục</h3>
    <ul data-role="listview">
        <li><a href="/Customers/vd?FeedID=1">Ngoisao.net</a></li>
        <li><a href="/Customers/vd?FeedID=3">doisongphapluat.com</a></li>
        <li><a href="/Customers/vd?FeedID=4">nguoiduatin.vn</a></li>
        <li><a href="/Customers/vd?FeedID=5">vnexpress.net</a></li>
    </ul>
</div><!-- /collapsible -->
<div data-role="collapsible" data-inset="false">
    <h3>Đăng kí</h3>
    <ul data-role="listview">
        <li><a href="#">Chicken</a></li>
        <li><a href="#">Cow</a></li>
        <li><a href="#">Duck</a></li>
        <li><a href="#">Horse</a></li>
        <li><a href="#">Pig</a></li>
        <li><a href="#">Sheep</a></li>
    </ul>
</div><!-- /collapsible -->
<div data-role="collapsible" data-inset="false">
    <h3>Đăng nhập</h3>
    <ul data-role="listview">
        <li><a href="#">Aardvark</a></li>
        <li><a href="#">Alligator</a></li>
        <li><a href="#">Ant</a></li>
        <li><a href="#">Bear</a></li>
        <li><a href="#">Beaver</a></li>
        <li><a href="#">Cougar</a></li>
        <li><a href="#">Dingo</a></li>
    </ul>
</div><!-- /collapsible -->