﻿@{
    ViewBag.Title = "Tin tức";
}
<ul data-role="listview">
    <li><a href="/Customers/vd?FeedID=1">Ngoisao.net</a></li>
    <li><a href="/Customers/vd?FeedID=3">doisongphapluat.com</a></li>
    <li><a href="/Customers/vd?FeedID=4">nguoiduatin.vn</a></li>
    <li><a href="/Customers/vd?FeedID=5">vnexpress.net</a></li>
</ul>

