﻿@{
    ViewBag.Title = "Tin tức";
}
<ul data-role="listview">
    <li><a href="/Customers/vd?FeedID=1">Ngoisao.net</a></li>
    <li><a href="/Customers/vd?FeedID=3">doisongphapluat.com</a></li>
    <li><a href="/Customers/vd?FeedID=4">nguoiduatin.vn</a></li>
    <li><a href="/Customers/vd?FeedID=5">vnexpress.net</a></li>
</ul>
<div id="content">

</div>
<script>
    var uri = 'http://cktapp.apphb.com/api/News?FeedID=@ViewBag.FeedID';
    $(document).ready(function () {
        // Send an AJAX request
        $.getJSON(uri).done(function (data) {0
            var Content = $('#content');
            var StringContent = "";
            // On success, 'data' contains a list of products.
            $.each(data, function (key, item) {
                // Add a list item for the product.
                StringContent = "<div class='post'>"
                + "<div class='thumb'><a href='" + item.UrlSub + "'><img src='" + item.ImageUrl + "' alt='' /></a></div>"
                + "<h2><a href='" + item.UrlSub + "'>" + item.Tilte + "</a></h2>"
                + "<p class='date'>" + item.PublishedDate + "</p>"
                + "<p>" + item.Summary + "</p>"
                + "</div>";
                Content.append(StringContent);
            });
            StringContent = "<div class='postnav'>"
                   + "<ul>"
                   + "<li><a href='http://all-free-download.com/free-website-templates/'>1</a></li>"
                   + "<li><a href='http://all-free-download.com/free-website-templates/'>2</a></li>"
                   + "<li><a href='http://all-free-download.com/free-website-templates/'>&raquo;</a></li>"
                   + " </ul>"
                   + "<div class='break'></div>"
                   + "</div>";
            Content.append(StringContent);
        });
    });
</script>
