﻿@{
    ViewBag.Title = "RegisterFavorite";
}

<div id="content">
    <!-- begin post -->
    <div class="single">      
        <h2>@ViewBag.Show</h2>
        <p>@ViewBag.Message</p>
    </div>
    <!-- end post -->
</div>