﻿@model MVC_Auth_Facebook.Models.LocalPasswordModel

<h3 style="margin-left:20px;width:350px;">Đổi mật khẩu</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        @*<legend style="margin-left:20px;width:350px;">Change Password Form</legend>*@
       @* <ol>*@
            <p style="margin-left:25px;width:350px;">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </p>
            <p style="margin-left:25px;width:350px;">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </p>
            <p style="margin-left:25px;width:350px;">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </p>
       @* </ol>*@
        <input style="margin-left:25px;" type="submit" class="btn btn-default" value="Đổi mật khẩu" />
    </fieldset>
}
