﻿@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1 style="margin-left:20px;">@ViewBag.Title.</h1>
    <h2>Unsuccessful login with service.</h2>
</hgroup>
