﻿@model MVC_Auth_Facebook.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1 style="margin-left:15px;">ĐĂNG NHẬP</h1>
</hgroup>

<section id="loginForm">
   
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend style="margin-left:15px;"></legend>
            @*<ul>*@
                <p style="margin-left:20px;width:350px;">
                    <label>Tên đăng nhập</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </p>
                <p style="margin-left:20px;width:350px;">
                    <label>Mật khẩu</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </p>
            @*</ul>*@
            <input type="submit" class="btn btn-default" value="Đăng nhập" style="margin-left:20px;" />
        </fieldset>
    <p style="margin-left:20px;margin-top:8px;">
        <b>@Html.ActionLink("Đăng ký", "Register") Nếu bạn chưa có tài khoản.</b>
    </p>
    }
</section>
<section class="social" id="socialLoginForm" style="margin-left:20px;">   
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>



