﻿@model MVC_Auth_Facebook.Models.LocalPasswordModel
@{
    ViewBag.Title = "Cài đặt tài khoản";
}

<hgroup class="title">
    <h1 style="margin-left:20px;width:350px;">@ViewBag.Title.</h1>
</hgroup>

<p class="message-success" style="margin-left:20px;width:350px;">@ViewBag.StatusMessage</p>

<p style="margin-left:20px;width:350px;">Bạn đang đăng nhập với tài khoản <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins" style="margin-left:20px;width:350px;">
    @Html.Action("RemoveExternalLogins")

    @*<h3 style="margin-left:3px;width:350px;">Add an external login</h3>*@
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
