﻿@model MVC_Auth_Facebook.Models.RegisterModel
@{
    ViewBag.Title = "Đăng ký";
}

<hgroup class="title">
    <h1 style="margin-left:25px;">@ViewBag.Title.</h1>
    <h3 style="margin-left:25px;">Tạo tài khoản mới</h3>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend style="margin-left:25px;">Form đăng ký</legend>
        @*<ol>*@
            <p style="margin-left:25px;width:350px;">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </p>
            <p style="margin-left:25px;width:350px;">
                @Html.LabelFor(m => m.FullName)
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            </p>
            <p style="margin-left:25px;width:350px;">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </p>
            <p style="margin-left:25px;width:350px;">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </p>
            <p style="margin-left:25px;width:350px;">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </p>
        @*</ol>*@
        <input type="submit" class="btn btn-default" value="Register" style="margin-left:25px;"  />
    </fieldset>
}

