﻿@{
    ViewBag.Title = "Tin tức";
}
<div class="post">
    <div class="thumb"><a href="#"><img src="/../Images/_thumb1.jpg" alt="" /></a></div>
    <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
    <p class="date">Posted on January 7, 2008 by admin</p>
    <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
    <a class="continue" href="#">Continue Reading</a>
</div>
<!-- end post -->
<!-- begin post -->
<div class="post">
    <div class="thumb"><a href="#"><img src="/../Images/_thumb2.jpg" alt="" /></a></div>
    <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
    <p class="date">Posted on January 7, 2008 by admin</p>
    <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
    <a class="continue" href="#">Continue Reading</a>
</div>
<!-- end post -->
<!-- begin post -->
<div class="post">
    <div class="thumb"><a href="#"><img src="/../Images/_thumb1.jpg" alt="" /></a></div>
    <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
    <p class="date">Posted on January 7, 2008 by admin</p>
    <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
    <a class="continue" href="#">Continue Reading</a>
</div>
<!-- end post -->
<!-- begin post -->
<div class="post">
    <div class="thumb"><a href="#"><img src="/../Images/_thumb2.jpg" alt="" /></a></div>
    <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
    <p class="date">Posted on January 7, 2008 by admin</p>
    <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
    <a class="continue" href="#">Continue Reading</a>
</div>
<!-- end post -->
<!-- begin post -->
<div class="post">
    <div class="thumb"><a href="#"><img src="/../Images/_thumb1.jpg" alt="" /></a></div>
    <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
    <p class="date">Posted on January 7, 2008 by admin</p>
    <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
    <a class="continue" href="#">Continue Reading</a>
</div>
<!-- end post -->
<!-- begin post -->
<div class="post">
    <div class="thumb"><a href="#"><img src="/../Images/_thumb2.jpg" alt="" /></a></div>
    <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
    <p class="date">Posted on January 7, 2008 by admin</p>
    <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
    <a class="continue" href="#">Continue Reading</a>
</div>
<!-- end post -->
<!-- begin post -->
<div class="post">
    <div class="thumb"><a href="#"><img src="/../Images/_thumb1.jpg" alt="" /></a></div>
    <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
    <p class="date">Posted on January 7, 2008 by admin</p>
    <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
    <a class="continue" href="#">Continue Reading</a>
</div>
<!-- end post -->
<!-- begin post -->
<div class="post">
    <div class="thumb"><a href="#"><img src="/../Images/_thumb2.jpg" alt="" /></a></div>
    <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
    <p class="date">Posted on January 7, 2008 by admin</p>
    <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
    <a class="continue" href="#">Continue Reading</a>
</div>
<!-- end post -->
<!-- begin post navigation -->
<div class="postnav">
    <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    <div class="break"></div>
</div>
