﻿<h2>Top 10 Video các kênh video trên youtube đang được quan tâm</h2>
                    <div class="video"> <img src="/../Images/_video.jpg" alt="" /> </div>
                    <!-- end featured video -->
                    <!-- begin tags -->
             
                    <div class="tags"> </div>
                    <!-- end tags -->
                    <!-- BEGIN left -->
                    <div class="l sbar">
                        <!-- begin categories -->
                       
                        <ul>
                            <li><a href="/Video/ViewChanel?ChanelName=bongdawap">Bóng đá</a></li>                            
                            <li><a href="/Video/ViewChanel?ChanelName=game8vn">Game8vn</a></li>
                            <li><a href="/Video/ViewChanel?ChanelName=kipkay">KipKay</a></li>
                            <li><a href="/Video/ViewChanel?ChanelName=freddiew">RocketJump</a></li>
                       
                        </ul>
                       
                    </div>
                    <!-- END left -->
                    <!-- BEGIN right -->
                     <div class="r sbar">
                        <!-- begin categories -->
                       
                        <ul>                            
                            <li><a href="/Video/ViewChanel?ChanelName=fashiontv">FashionTV</a></li>
                            <li><a href="/Video/ViewChanel?ChanelName=VICTORIASSECRET">Victoria Secret</a></li>
                            <li><a href="/Video/ViewChanel?ChanelName=HouseholdHacker">HouseholdHacker</a></li>
                            <li><a href="/Video/ViewChanel?ChanelName=advicesmedia">Advices Media</a></li>
                        
                        </ul>
                       
                    </div>
                    <!-- END right -->