﻿<h2>Những Hình Ảnh HOT Trong Ngày Trên Flickr</h2>
<div class="flickr" id="picturelist">

</div>

<script>
    $(function() {
        var url = 'http://api.flickr.com/services/rest/?method=flickr.interestingness.getList&api_key=4ee6d4ec5b8d54cdbe7a49759b63dc8b&format=json&nojsoncallback=1&per_page=9&page=1';
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                $.each(data.photos.photo, function (i, item) {
                    src = "http://farm" + item.farm + ".static.flickr.com/" + item.server + "/" + item.id + "_" + item.secret + ".jpg";
                    $("#picturelist").prepend('<a data-lightbox="img"  href="'+ src +'">  <img src="' + src + ' " style="height: 80px;width: 80px" /> </a>');
                });
            }
        });
    });
</script>
