﻿<div id="header">
    <ul>
        <li class="#"><a href="#">Trang chủ</a></li>
        <li><a href="#">Thông Tin</a></li>
        
        <li><a href="#">Liên kết trang</a></li>
    </ul>
    @Html.Partial("_ViewSwitcher")
    @if (Request.IsAuthenticated)
    {
            <p class="links"><a href="/Account/Manage">Xin chào! @User.Identity.Name</a> |<a href="/Account/LogOff">Đăng xuất</a></p>
    }
    else
    {
            <p class="links"><a href="/Account/Login">Đăng nhập</a> | <a href="/Account/Register">Đăng kí </a>  | <a href="/Account/Login">Facebook</a> </p>

    }
    <div class="break"></div>
    <div class="logo">
        <h1><a href="#">The Web News</a></h1>
        <p></p>
    </div>
    @*<div class="ad468x60"> <a href="#"><img src="/../Images/ad468x60.gif" alt="" /></a> </div>*@
    <div class="break"></div>
    <ol data-bind="foreach:  Feeds">
        <li>
            <a data-bind="attr: { href: '/Customers/Index?FeedID='+FeedID}, text : UrlFeed "></a>            
        </li>           
    </ol>
    <div class="break"></div>
</div>

<script src="~/Scripts/knockout-2.1.0.js"></script>
<script src="~/Scripts/knockoutFeeds.js"></script>
<script type="text/javascript">    </script>


