﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Web News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("scripts", required: false)
    <link type="text/css" href="~/Content/lightbox2/css/lightbox.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/lightbox2/js/lightbox-2.6.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
</head>
<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">
        <!-- BEGIN header -->
        @Html.Partial("_HeaderPartial")

        <!-- END header -->
        <!-- BEGIN content -->
        <div id="content">
            <!-- begin post -->
            @RenderBody()
            <!-- end post navigation -->
        </div>
        <!-- END content -->
        <!-- BEGIN sidebar -->
        <div id="sidebar">
            <!-- begin ads -->
            <div class="ads">
                <a href="#">
                    <img src="/../Images/babycute.jpg" alt="" /></a> <a href="#">
                        <img src="/../Images/Cute.jpg" alt="" /></a> <a href="#">
                            <img src="/../Images/Cute-Little.jpg" alt="" /></a> <a href="#">
                                <img src="/../Images/Smooches.jpg" alt="" /></a>
            </div>
            <!-- end ads -->
            <div class="wrapper">
                <!-- begin popular posts -->
                <div id="PopularPosts">
                    <h2>Danh Mục Tin Tức</h2>
                    <ul data-bind="foreach:  Feeds">
                        <li><a data-bind="attr: { href: '/Customers/Index?FeedID='+FeedID}, text : UrlChildFeed "></a></li>
                    </ul>
                </div>
            </div>
            <!-- begin search -->
            <form class="search" action="#">
                <input type="text" name="s" id="Search" style="height: 20px;" />
                <button type="submit">Search</button>
            </form>
            <!-- end search -->
            <div class="wrapper">
                <!-- begin popular posts -->
                <div id="PopularPosts">

                    <h2>Thông Tin HOT</h2>
                    <ul>
                        @if (Request.IsAuthenticated)
                        {
                            <li>Bạn đang đọc báo trên trang <b>@ViewBag.UrlFeed</b> <br />
                                Mục:<b style="color:red">@ViewBag.UrlChildFeed</b><br />
                                Nếu bạn quan tâm đến tin tức trong mục này.Bạn hãy click vào link bên dưới. Chúng tôi sẽ
                                    sẽ gửi tới mail của bạn khi hệ thống cập nhật tin mới :) 
                                
                            </li>
                            <a href="http://thenews.apphb.com/Customers/RegisterFavorite?LinkFavorite=@ViewBag.LinkFavorite"><b>Đăng ký favorite </b></a>
                        }

                        else
                        {
                            <li>
                                <p style="color:red">Đăng ký tài khoản ngay để có thể sử dụng chức năng Favorite.<br />
                                     Chúng tôi sẽ gửi thông báo đến bạn ngay khi có những tin tức mới nhất.</p>
                            </li>
                        }

                    </ul>


                </div>

                <!-- end popular posts -->
                <!-- begin flickr photos -->
                @Html.Action("Index", "Flick")
                @*                    @Html.Partial("_flickrphotospartial")*@
                <!-- end flickr photos -->
                <!-- begin featured video -->
                @Html.Action("Index", "Video")
                @*                    @Html.Partial("_FeaturedVideoPartial")*@

            </div>
        </div>
        <!-- END sidebar -->
        <!-- BEGIN footer -->
        <div id="footer">
            <p>Copyright &copy; 2014 - <a>The Web News</a> &middot; All Rights Reserved</p>
            <p>Template by: <a>Phạm Tuyên Designer</a> | Get More <a>Đại Học Khoa Học Tự Nhiên</a></p>
        </div>
        <!-- END footer -->
    </div>
    <!-- END wrapper -->
    @*<div align=center>This template  downloaded form <a href='#'>free website templates</a></div>*@
</body>
</html>
<script src="~/Scripts/knockout-2.1.0.js"></script>
<script type="text/javascript">
    var EmpViewModel = function () {
        //Make the self as 'this' reference
        var self = this;
        //Declare observable which will be bind with UI
        self.FeedID = ko.observable("");
        self.UrlFeed = ko.observable("");
        self.UrlChildFeed = ko.observable("");
        self.UrlSubFeed = ko.observable("");
        self.xpathUrlPagingFeed = ko.observable("");
        self.XpathUrlFeed = ko.observable("");
        self.XpathTilte = ko.observable("");
        self.XpathPublishedDate = ko.observable("");
        self.XpathSummary = ko.observable("");
        self.XpathImageUrl = ko.observable("");
        self.XpathUrlSub = ko.observable("");
        self.Flag = ko.observable("");

        //The Object which stored data entered in the observables
        var EmpData = {
            FeedID: self.FeedID,
            UrlFeed: self.UrlFeed,
            UrlChildFeed: self.UrlChildFeed,
            UrlSubFeed: self.UrlSubFeed,
            xpathUrlPagingFeed: self.xpathUrlPagingFeed,
            XpathUrlFeed: self.XpathUrlFeed,
            XpathTilte: self.XpathTilte,
            XpathPublishedDate: self.XpathPublishedDate,
            XpathSummary: self.XpathSummary,
            XpathImageUrl: self.XpathImageUrl,
            XpathUrlSub: self.XpathUrlSub,
            Flag: self.Flag
        };

        //Declare an ObservableArray for Storing the JSON Response
        self.Feeds = ko.observableArray([]);
        GetFeeds(); //Call the Function which gets all records using ajax call      
        function GetFeeds() {
            //Ajax Call Get All Employee Records
            $.ajax({
                type: "GET",
                url: "http://cktapp.apphb.com/api/Feeds?UrlFeed=@ViewBag.UrlFeed",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    self.Feeds(data); //Put the response in ObservableArray
                },
                error: function (error) {
                    // alert(error.status + "<--and--> " + error.statusText);
                }
            });
            //Ends Here
        }
    };
    ko.applyBindings(new EmpViewModel());
</script>
